**/node_modules
/node_modules
node_modules
web/node_modules
packages/*/node_modules
e2e/node_modules
sdks/nodejs-client/node_modules
**/.pnpm-store
**/dist
**/.next
**/.turbo
**/.cache
**/__pycache__
**/*.pyc
**/.mypy_cache
**/.ruff_cache
docker/volumes
.git
.github
*.md
!web/README.md
!api/README.md
